@{
    ViewBag.Title = "Index";
}

<div class="container">

    <p>
        @Html.ActionLink("Главное меню", "Index", "Admin")
    </p>

    <h2>Парсинг цен</h2>

    <p>
        @Html.ActionLink("Панель управления заданиями", "Hangfire", "AdminParse")
    </p>

    <p>
        @Html.ActionLink("Парсинг цен по брендам и регионам", "ParseBrandsAndRegions", "AdminParse")
    </p>

    <p>
        @Html.ActionLink("Парсинг цен по брендам", "ParseBrands", "AdminParse")
    </p>
</div>
