@model CarMate.CarEvents

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<div class="container">
<h3>Are you sure you want to delete this?</h3>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Удалить" /> 
        @Html.ActionLink("Назад", "Index", "CarEvents", new {carId = Model.CarId}, null)
    </p>
}
</div>
<!-- /class container -->