
<div class="row">
    <div class="col-lg-7 col-md-7">
        <div class="input-daterange input-group" id="datepicker_period">
            <span class="input-group-addon">@Resources.Global.DuringPeriod</span>
            <span class="input-group-addon">@Resources.Global.From</span>
            <input type="text" class="input form-control" name="start" />
            <span class="input-group-addon">@Resources.Global.By</span>
            <input type="text" class="input form-control" name="end" />
        </div>
        <button class="btn btn-success" id="search_period">@Resources.Global.Find</button>
    </div>
</div>