@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Welcome Admin!</h2>
    <p>
        @Html.ActionLink("Логи ошибок", "Index", "AdminErrorLogs")
    </p>

    <p>
        @Html.ActionLink("Парсинг цен", "Index", "AdminParse")
    </p>
</div>
